@font-face {
    font-family: "cairo";
    src: url(../webfonts/fonts/static/Cairo-Regular.ttf);
}


:root {
    --font : "cairo";
    --main-color : #005395;
    --second-color : #3A4E5B;
    --gray-color : #747474;
}

body {
    font-family: var(--font);
    height: 100vh;
    /* background-color: var(--second-color); */
}
/* Navbar */
.navbar {
    padding: 20px 0;
    /* margin-bottom: 30px; */
}


/* Social */
.social .row a {
    text-decoration: none !important;
}

.social-item  {
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--main-color);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 25px;
}
.social-item i , .social-item svg {
    color: var(--main-color);
    font-size: 80px;
}



.social-item span {
    display: block;
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
    color: var(--gray-color);
}

.text-banner {
    background-color: var(--main-color);
    padding: 15px 0;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}


@media(max-width : 575px) {
    .social-item i , .social-item svg {
        font-size: 50px;
    }

    
     .social-item span {
        font-size: 16px;
    }

    .text-banner {
        font-size: 22px;
    }
}


@media(max-width : 350px) {
    .social-item i , .social-item svg {
        font-size: 40px;
    }

    
    .text-banner  , .social-item span {
        font-size: 14px;
    }
}

.desc-h {
    font-size: 18px;
    font-weight: bold;
    margin : 25px 0
}